<section>
    <div class="headline">
        <span>
            Frontend
        </span>
        <span>
            Developer
        </span>
        <div class="namebar">
            <div class="line"></div>
            <span>Béla Schramm</span>
        </div>
    </div>
    <div class="scrollinfo">
        <span class="email">contact_bela-schramm.de</span>
        <div class="scroll">
            <img src="./assets/images/arrow.svg" alt="">
            <span>Scroll</span>
            <span>down</span>
        </div>
    </div>
</section>