<section>
    <img src="./assets/images/bs.svg" alt="">

    <div class="burgermenu-div">
        <input type="checkbox" [(ngModel)]="burgermenushow" name="menu" id="menu">
        <label for="menu">
            <svg width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g stroke="black" stroke-width="30">
                    <path d="M0 15 h300 M0 150 h300 M0 285 h300">
                        <animate id="burgermenu" attributeName="d"
                            values="M0 15 l300 0 M0 150 l300 0 M0 285 l300 0; M0 15 l200 0 M0 150 l300 0 M100 285 l300 0; M0 0 l150 150 M0 300 l300 -300 M150 150 l150 150"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                        <animate id="burgermenu-back" attributeName="d"
                            values=" M0 0 l150 150 M0 300 l300 -300 M150 150 l150 150; M0 15 l200 0 M0 150 l300 0 M100 285 l300 0; M0 15 l300 0 M0 150 l300 0 M0 285 l300 0"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                    </path>
                </g>
            </svg>
        </label>
    </div>


</section>