<section>
    <img src="./assets/images/bs.svg" alt="">

    <div class="burgermenu-div">
        <input type="checkbox" [(ngModel)]="burgermenushow" name="menu" id="menu">
        <label for="menu">
            <svg id="burgermenusvg" width="300" height="300" viewBox="0 0 300 300" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g stroke="black" stroke-width="30">
                    <path d="M0 15 h300 M0 150 h300 M0 285 h300">
                        <animate id="burgermenu" attributeName="d"
                            values="M0 15 l300 0 M0 150 l300 0 M0 285 l300 0; M0 15 l200 0 M0 150 l300 0 M100 285 l300 0; M0 0 l150 150 M0 300 l300 -300 M150 150 l150 150"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                        <animate id="burgermenu-back" attributeName="d"
                            values=" M0 0 l150 150 M0 300 l300 -300 M150 150 l150 150; M0 15 l200 0 M0 150 l300 0 M100 285 l300 0; M0 15 l300 0 M0 150 l300 0 M0 285 l300 0"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                    </path>
                </g>
            </svg>
        </label>
    </div>

    <div [style.height.dvh]=" burgermenushow ? 80 : 0 " class="dropdownmenu">
        <div class="menupoints">
            <a href="">
                <div class="moveline"></div>
                <span>About Me</span>
            </a>
            <a href="">
                <div class="moveline"></div>
                <span>My Skills</span>
            </a>
            <a href="">
                <div class="moveline"></div>
                <span>My Projects</span>
            </a>
        </div>
        <div class="menufooter">
            <svg width="1440" height="318" viewBox="0 0 1440 318" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L1588 181L1632 348H0V0Z" fill="black" />
            </svg>
        </div>
    </div>

</section>