<section>
    <img src="./assets/images/bs.svg" alt="">

    <div class="burgermenu-div">
        <input type="checkbox" [(ngModel)]="burgermenushow" name="menu" id="menu">
        <label id="bm_switch" for="menu">
            <svg id="bm_switch" width="300" height="300" viewBox="0 0 300 300" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g stroke="black" stroke-width="30" stroke-linecap="round">
                    <path id="bm_switch" d="M20 15 l260 0 M20 150 l260 0 M20 285 l260 0">
                        <animate id="burgermenu" attributeName="d"
                            values="M20 15 l260 0 M20 150 l260 0 M20 285 l260 0; M20 15 l200 0 M20 150 l260 0 M120 285 l160 0; M20 20 l130 130 M20 280 l260 -260 M150 150 l130 130"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                        <animate id="burgermenu-back" attributeName="d"
                            values="M20 20 l130 130 M20 280 l260 -260 M150 150 l130 130; M20 15 l200 0 M20 150 l260 0 M120 285 l160 0; M20 15 l260 0 M20 150 l260 0 M20 285 l260 0"
                            dur="0.3s" repeatCount="1" fill="freeze" begin="indefinite" />
                    </path>
                </g>
            </svg>
        </label>
    </div>

    <div [style.height.dvh]="burgermenushow ? 80 : 0 " class="dropdownmenu">
        <div class="menupoints">
            <a href="#aboutme-section">
                <div class="moveline"></div>
                <span>About Me</span>
            </a>
            <a href="#myskill-section">
                <div class="moveline"></div>
                <span>My Skills</span>
            </a>
            <a href="#projects-section">
                <div class="moveline"></div>
                <span>My Projects</span>
            </a>
        </div>
        <div class="menufooter">
            <div class="sayhi">
                <span class="section-headline">Say Hi!</span>
                <span class="mail">contact&#64;bela-schramm.de</span>
            </div>
            <div class="links">
                <a target="_blank" href="https://github.com/BelaSchrammDev"><img src="./../../assets/images/github.svg"
                        alt=""></a>
                <a target="_blank" href=""><img src="./../../assets/images/mail.svg" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/b%C3%A9la-schramm-aab333299/"><img
                        src="./../../assets/images/linkedin.svg" alt=""></a>
            </div>
        </div>
    </div>

</section>