@import "../../styles/variables.scss";

.audioplayer {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.menuheight {
    height: calc(100dvh - $header-height) !important;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: $header-height;

    img {
        height: 100%;
    }

    .burgermenu-div {
        display: flex;
        gap: 20px;

        >.language-select {
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .line {
                width: 2px;
                height: calc($header-height / 2);
                background-color: black;
            }

            button {
                padding: 5px;
                background-color: transparent;
                border: none;
                color: $main-highlight-color;
                font-family: Syne;
                font-size: $content-font-size;
                cursor: pointer;

                &:disabled {
                    pointer-events: none;
                    color: gray;
                    transform: scaleY(1.3);
                }
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        svg {
            height: calc($header-height - 30px);
            width: calc($header-height - 30px);
        }
    }

    .dropdownmenu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;

        .menupoints {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: $main-padding-dynamic;

            a {
                position: relative;
                font-family: Syne;
                font-size: $menu-font-size;
                line-height: $menu-font-size;
                font-weight: 700;
                color: black;
                text-decoration: none;

                span {
                    padding: 10px;
                }

                .moveline {
                    position: absolute;

                    bottom: 0;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;

                    animation-name: fadeline-back;
                    animation-duration: 0.3s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                }

                &:hover {
                    cursor: pointer;

                    .moveline {
                        animation-name: fadeline;
                    }
                }

                @keyframes fadeline {
                    0% {
                        height: 50%;
                        width: 30%;
                        left: 0;
                    }

                    30% {
                        height: 2px;
                        width: 60%;
                        left: 0;
                    }

                    100% {
                        height: 2px;
                        width: 30%;
                        left: 70%;
                    }
                }

                @keyframes fadeline-back {
                    0% {
                        height: 2px;
                        width: 30%;
                        left: 70%;
                    }

                    70% {
                        height: 2px;
                        width: 60%;
                        left: 0;
                    }

                    100% {
                        height: 50%;
                        width: 30%;
                        left: 0;
                    }
                }

            }
        }

        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: $main_bg_color;

        .menufooter {
            width: 100%;
            height: 250px;
            color: white;
            background-image: url('./../../assets/images/blackramp.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: $main-padding-side;

            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .sayhi {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: flex-end;
                align-items: flex-start;
            }

            .links {
                display: flex;
                gap: $main-padding-dynamic;
                justify-content: center;
                align-items: flex-end;

                a {
                    transition: all 0.15s ease-in-out;
                }

                a:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .menufooter {
        flex-direction: column;
        justify-content: flex-end !important;
        max-height: 200px;

        .sayhi {
            align-self: flex-start;
        }
    }
}