section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;

        >div {
            display: flex;
            gap: 10px;
        }
    }
}