<section>
    <div class="left">
        <img (click)="scrollToTop()" src="./../../assets/images/bslogowhite.svg" alt="">
        <span>&#169; Béla Schramm 2024</span>
    </div>
    <div class="right">
        <div class="links">
            <a target="_blank" href="https://github.com/BelaSchrammDev"><img src="./../../assets/images/github.svg"
                    alt=""></a>
            <a href="#sendmessage-section"><img src="./../../assets/images/mail.svg" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/b%C3%A9la-schramm-aab333299/"><img
                    src="./../../assets/images/linkedin.svg" alt=""></a>
        </div>
        <a routerLink="imprint">Legal Notice</a>
    </div>
</section>