<section [style.justify-content]="otherDirection ? 'flex-end' : 'flex-start'">
    <span [style.left]="otherDirection ? 0 : 'unset'" class="projectnum">{{ index }}/{{ total }}</span>
    <div [style.flex-direction]="otherDirection ? 'row-reverse' : 'row'" class="content">
        @if (project) {
        <div class="picture_section">
            <img [ngClass]="{'picture_right': !otherDirection, 'picture_left': otherDirection, 'picture': true }"
                src="./assets/images/projects/{{ project.image }}" alt="">
            <div [ngClass]="{'frame_right': !otherDirection, 'frame_left': otherDirection, 'frame': true }">
            </div>
            <div [ngClass]="{'badge_right': !otherDirection, 'badge_left': otherDirection, 'badge': true }">
                <svg class="badge_svg" width="76" height="76" viewBox="0 0 76 76" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.0908203" width="75.7016" height="75.7016" rx="35.5" fill="black" />
                    <path d="M58.4663 17.8574L18.483 58.3738" stroke="#FFFCF3" stroke-width="4" />
                    <path d="M37.1419 17.8574L58.4663 17.8574L58.4663 39.1818" stroke="#FFFCF3" stroke-width="4" />
                </svg>
            </div>
        </div>
        <div [ngClass]="{'description_right': otherDirection, 'description_left': !otherDirection, 'description': true }"
            [style.align-items]="otherDirection ? 'flex-end' : 'flex-start'">
            <span [style.text-align]="otherDirection ? 'right' : 'left'">{{ project.name }}</span>
            <span>
                @for(tag of project.tags; track project.tags) {
                {{ tag }}
                @if (!$last) {|}
                }
            </span>
            <span [innerHTML]="translate.getTranslation(project.descriptionID)"></span>
            <div class="links">
                @for( link of project.links; track project.links) {
                <button (click)="onLinkClick(link)">{{ link.name }}</button>
                }
            </div>
        </div>
        }
    </div>
</section>