<section>
    <div class="content">
        <div class="headline">
            About me
        </div>
        <div class="text">
            I am a Front-end developer based in Leipzig, Germany. I enjoy helping designers and companies bring their
            ideas into real life. I am looking forward to continuing my developer career with a job in a junior web
            developer position.

            If you think I’d be a good match for your projects, contact me!
        </div>
    </div>
    <div class="image">
        <div class="me">
            <div class="border"></div>
            <img src="./assets/images/bela2.jpg" alt="">
        </div>
        <div class="scroll">
            <img src="./assets/images/arrow-left-bottom.svg" alt="">
        </div>
    </div>
</section>