@import './variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main_bg_color;
    margin: 0;
    padding: 0;
}

// add custom scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $main_bg_color;
}

::-webkit-scrollbar-thumb {
    background: $main_highlight_color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $main_highlight_color;
}



* {
    box-sizing: border-box;
}

.section-headline {
    font-family: Syne;
    font-size: $headline-font-size;
    font-weight: 800;
    text-align: center;
    transition: all 0.15s ease-in-out;

    &:hover {
        cursor: default;
        color: $main_highlight_color;
    }
}

.mail {
    font-family: Overpass;
    font-size: clamp(12px, calc(23px * 100vw / $max-width), 23px);
    line-height: 23px;
    font-weight: 300;
}