<section>
    <div class="headline">
        <span>
            Frontend
        </span>
        <span>
            Developer
        </span>
        <div class="namebar">
            <div class="line"></div>
            <span>Béla Schramm</span>
        </div>
    </div>
    <div class="scrollinfo">
        <a class="email" href="">contact&#64;bela-schramm.de</a>
        <div class="scroll">
            <div class="wrapper">
                <img src="./assets/images/arrow.svg" alt="">
            </div>
            <span>Scroll</span>
            <span>down</span>
        </div>
    </div>
</section>