@import '../../../styles/variables.scss';

$name-font-size: clamp(16px, calc(48px * 100vw / $max-width), 48px);

section {
    min-height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding-left: $main-padding-side;
    padding-right: $main-padding-side;

    .headline {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Syne;
        font-weight: 800;
        font-size: $headone-font-size;
        line-height: $headone-font-size;
        overflow: hidden;

        .first-headline {
            color: #5988FF;
            animation: slideInFromRight 1s cubic-bezier(0, 0, 0, 1);
        }

        @keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .second-headline {
            color: black;
            animation: slideInFromLeft 1s cubic-bezier(0, 0, 0, 1);
        }

        .namebar {
            position: relative;
            padding-top: 10px;
            width: 70vw;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            animation: slideInFromRight 1s cubic-bezier(0, 0, 0, 1);

            .line-wrapper {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;

                .line {
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    animation: extendLine 2s cubic-bezier(0, 0, 0, 1);
                }
            }

            .myname {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Overpass;
                font-weight: 700;
                font-size: $name-font-size;
                text-align: center;
                padding-top: calc($name-font-size * 0.2);
                line-height: $name-font-size;
                white-space: nowrap;
                color: #5988FF;
            }

            .player {
                position: absolute;
                top: calc($name-font-size + $main-padding-side) ;
                max-height: 0;
                overflow: hidden;
                height: fit-content;
                width: fit-content;
                transition: all 0.5s ease-in-out;

            }

            .showplayer {
                max-height: 300px;
            }

        }

        @keyframes extendLine {
            0% {
                width: 10%;
            }

            100% {
                width: 100%;
            }
        }
    }

    .scrollinfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: Overpass;
        font-size: 23px;
        line-height: 23px;
        font-weight: 300;

        .email {
            text-decoration: none;
            font-family: unset;
            color: black;
            text-align: left;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
        }

        .scroll {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .wrapper {
                overflow: hidden;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                img {
                    overflow: hidden;
                    animation-name: scrollarrow;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                }
            }

            @keyframes scrollarrow {
                0% {
                    transform: translateY(-200%);
                }

                40% {
                    transform: translateY(0);
                }

                60% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(200%);
                }
            }
        }
    }
}