@import '../../../styles/variables.scss';

$name-font-size: clamp(16px, calc(48px * 100vw / $max-width), 48px);

section {
    flex-grow: 1;
    min-height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding-left: $main-padding-side;
    padding-right: $main-padding-side;

    .headline {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Syne;
        font-weight: 800;
        font-size: $headone-font-size;
        line-height: $headone-font-size;

        .namebar {
            padding-top: 10px;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .line {
                flex-grow: 1;
                width: 100%;
                height: 3px;
                background-color: black;
            }

            font-family: Overpass;
            font-weight: 700;
            font-size: $name-font-size;
            line-height: $name-font-size;
            white-space: nowrap;
            color: #5988FF;
        }
    }

    .scrollinfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: Overpass;
        font-size: 23px;
        line-height: 23px;
        font-weight: 300;

        .email {
            text-decoration: none;
            font-family: unset;
            color: black;
            text-align: left;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
        }

        .scroll {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .wrapper {
                overflow: hidden;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                img {
                    overflow: hidden;
                    animation-name: scrollarrow;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                }
            }

            @keyframes scrollarrow {
                0% {
                    transform: translateY(-200%);
                }

                40% {
                    transform: translateY(0);
                }

                60% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(200%);
                }
            }
        }
    }
}