<section>
    <div class="headline">
        <span class="first-headline"> Frontend</span>
        <span class="second-headline"> Developer </span>
        <div class="namebar">
            <div class="line-wrapper">
                <div class="line"></div>
            </div>
            <span>Béla Schramm</span>
        </div>
    </div>
    <div class="scrollinfo">
        <a class="email" href="#sendmessage-section">contact&#64;bela-schramm.de</a>
        <div class="scroll">
            <div class="wrapper">
                <img src="./assets/images/arrow.svg" alt="">
            </div>
            <span>Scroll</span>
            <span>down</span>
        </div>
    </div>
</section>