$max-width: 1440px;
$min-width: 280px;

$border-width: 4px;
$main-padding-side: 20px;
$main-padding-dynamic: clamp(20px, calc(5vw), 60px);

$main_bg_color: #FFFCF3;
$main_highlight_color: #5988ff;

$headline-font-size: clamp(27px, calc(78px * 100vw / $max-width), 78px);
$content-font-size: clamp(18px, calc(23px * 100vw / $max-width), 23px);

$project-picture-height: 400px;
$project-picture-width: 620px;